#!/usr/bin/env bash

set -o pipefail -o errexit -o nounset

lock=$(realpath "$1")
cd "$BUILD_WORKING_DIRECTORY"

echo
echo "Writing lockfile to {workspace_relative_path}"
cp "$lock" "{workspace_relative_path}"
