name: Bazel Steward
on:
  workflow_dispatch:
  schedule:
    - cron: "30 5 * * *" # runs every day at 5:30 am
jobs:
  bazel-steward:
    runs-on: ubuntu-latest
    strategy:
      matrix: {dir: ["e2e/smoke", "e2e/llvm_toolchain", "e2e/systemd", "e2e/toolchains"]}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: VirtusLab/bazel-steward@v1.7.1
        with:
          github-personal-token: ${{ secrets.STEWARD }}
          configuration-path: ./.github/bazel-steward.yaml
          additional-args: "${{ matrix.dir }}"
